* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  -webkit-font-smoothing: antialiased;
}

.div-wrapper {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.div-wrapper p {
  max-width: 525px;
}

.font-exo {
  font-family: 'Exo 2', sans-serif;
}

.font-space-mono {
  font-family: 'Space Mono', monospace;
}
